div{
    background-color: rgb(136, 136, 240);
}

.outer-container {
    background-color: cornflowerblue;
    width:100%;
    height:200px;
}

.inner-container-1, .inner-container-2, .inner-container-3{
    height:150px;
    width:150px;
    margin:10px;
    display:inline-block;
    background-color:lightpink;
}
@media only screen and (max-width:320px){
    div{
        background-color: rgb(173, 144, 206);
    }
}

@media only screen and (max-width:768px){
    div{
        background-color:pink;
    }
}
